ul, ol {
    list-style: none;
}

p {
    color: grey;
}

body {
    color: #878787;
    margin: 0;
}

.main-header {
    background-color: orange;
}

.title {
    color: white;
    font-size: 26px;
}

ul li, ol li  {
    background-color: tomato;
    color: white;
    margin-bottom: 5px;
}

h1 {
    font-size: 90px;
    color: white;
}

h2 {
    font-size: 53px;
}

h3 {
    font-size: 20px;
    color: #48525c;
}

.primary-content {
    text-align: center;
    border: 3px solid red;
}

#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px orange;
}

.top-boarder {
    border-top: 2px solid lightgrey;
}


/*****************************************************
Anchor link color change settings
*****************************************************/

/*TODO: Question: why does a:link not change the anchor elements to orange and then when visited change blue*/
a:link {
    color: orange;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: lightcoral;
}
a:focus {
    color: white;
    background-color: orange;
}