
/**************************
GENERAL
**************************/

/*standardizing font sizing across browsers and so we can use relative measurements */
html {  font-size: 62.5%;  }
body {  font-size: 14px; font-size: 1.4rem } /* =14px */
h1 { font-size: 24px; font-size: 2.4rem; } /* =24px */

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}




/**************************
HEADING
**************************/

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family:'Changa One', sans-serif;
    margin: 15px 0;
    font-size: 1.75rem;
}




/**************************
COLORS
**************************/

/* site body */
body {
    background: #ffffff;
    color: #999;
}

/* green header */
header {
    background: #6ab47b;
    border-color: #599a68;
}

/* navigation background on mobile devices */
nav {
    background: #599a68;
}

/* logo text */
h1, h2 {
    color: #fff;
}

a {
    color: #599a68;
}

/*pseudo class usage*/
/* nav link */
nav a, nav a:visited {
    color: #ffffff;
}
/* selected nav link */
nav a.selected, nav a:hover {
    color: #32673f;
}